@use '../abstracts/main' as *;
body {
    background-color: $color-bg-body;
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Evita scroll no "monitor" do jogo */
    @include flex-center(column);
}

.game-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}