@use '../abstracts/main' as *;
body {
    font-family: $font-stack;
    font-size: 16px;
    line-height: 1.5;
    color: $color-text-main;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
    font-weight: 700;
    margin-bottom: 1rem;
    color: $color-text-main;
}

p {
    margin-bottom: 1rem;
    color: $color-text-muted;
}