@use '../abstracts/main' as *;
// Botão Primário Genérico
.primary-btn {
    background-color: $color-primary;
    color: $white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.2s;
    font-size: 1rem;
    @include flex-center(row);

    &:hover {
        background-color: $color-primary-dark;
    }
}

// Botão Iniciar (Barra de Tarefas)
.start-menu {
    background-color: $navy-light;
    color: $white;
    height: 36px;
    padding: 0 15px;
    border-radius: 4px;
    font-weight: bold;
    @include flex-center(row);
    gap: 8px;
    transition: background 0.2s;

    &:hover {
        background-color: $color-primary-dark;
    }

    .icon {
        font-size: 1.2rem;
    }
}

// Botão "Continuar" do Mascote
.dialogue-btn {
    background-color: $color-primary;
    color: $white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    margin-left: auto; // Empurra para a direita
    display: block;
    
    &:hover {
        background-color: $color-primary-dark;
    }
}