@use '../abstracts/main' as *;
// Overlay para Modais e Popups
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 35, 66, 0.85); // $navy-darkest com opacidade
    z-index: 2000;
    @include flex-center(row);
    
    &.hidden {
        display: none;
    }
}

.modal-content {
    background-color: $color-bg-card;
    padding: 30px;
    border-radius: 12px;
    border: 2px solid $color-primary;
    text-align: center;
    max-width: 500px;
    @include card-shadow;

    h2 {
        font-size: 1.5rem;
        color: $color-primary;
        margin-bottom: 15px;
    }

    p {
        font-size: 1.1rem;
        margin-bottom: 25px;
    }
}